/* Reset de página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* define a fonte de letra de toda página */
 body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

/* rodapé */
#footer1 {
    background-color: rgb(255, 189, 67);
    height: 105vh;
}

/* opcoes da pagina */

li {
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}

/* remove os pontos da lista */
ul {
    list-style: none;
}

/* cabeçalho */
header {
    background-color: rgb(255, 189, 67);
    padding: 2rem;
    font-family: Arial, sans-serif;
    
}

header ul {
    display: flex;
    align-items: center;
}

header ul li {
    padding: 0 1rem;
    text-decoration: none;
}

/* barra de pesquisa */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
   
}

/* barra cinza abaixo do nav */
.desconto {
    display: flex;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    height: 5vh;
}

/* texto desconto */
h4 {
    display: flex;
    justify-content: center;
    color: blue;
    font-family: Arial, sans-serif;
    margin-top: 1.5vh;

}

/* SCOMFORT */
h1 {
    margin-top: 18vh;
    margin-left: 5vw;
    font-size: 65px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* paragrafo de apresentação */
#paragrafo1 {
    display: flex;
    margin-top: 38vh;
    margin-left: -30vw;
    font-size: 30px;
    margin-right: -8vw;
  
    
}
/* botao de ofertas */
#ofertasbotao{
    background-color: rgb(255, 189, 67);
    margin-top: 70vh;
    width: 20%;
    height: 50px;
    margin-right: 20vw;
    border-radius: 5px;
}

/* texto barra cinza */

#barrapesquisa {
    display: flex;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    height: 5vh;
    margin-left: 30px;
}

/* seção */
#inicio {
    width: 50%;
}

#divimg {
    display: flex;
    
}


#sobre {
    display: flex;
    background-color: rgba(245, 245, 245, 0.874);
    height: 105vh;
}

#psobre {
    font-weight: bold;
    font-size: 60px;
    margin-top: 33vh;
    margin-left: 20vw;
}

#logo {
    margin-top: 30vh;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 50vw;
    height: 50vh;
}

#textsobre {
    display: flex;
    margin-top:55vh;
    margin-left: -30vw;
    margin-right: 5vw;
    font-size: 23px;
    text-align: justify;
    width: 190%;
    
 
}

#populares {
    display: flex;
    justify-content: center;
    height: 105vh;
    background-color: rgba(255, 255, 215, 0.596);
}

#mpopulares {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20vh;
    position: absolute;
    margin-left: 5vw;
}

.container-roupas{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-top: 30vh;
    

}
.roupa img{
    width: 250px;
    height: auto;
}
.roupa{
    background-color: #e1c99c;
    color: #000000;
    margin-left: 120px;
    margin-top: 90px;
}


#fiqueligado{
    font-size: 50px;
    display: flex;
    font-weight: bold;
}

#formulario{
    display: flex;
    height: 105vh;

}

#textfiqueligado{
    font-size: 20px;
    margin-top: 5vh;
    text-align: justify;
}

#esquerdafiqueligado{
    margin-left: 7vw;
    margin-top: 45vh;
    width: 35%;
}

#direitafiqueligado{
    margin-left: 10vw;
    margin-top: 50vh;
}
#enviar{
    background-color: rgb(255, 189, 67);
    margin-top: 60vh;
    width: 80px;
    height: 50px;
    margin-left: -20.5vw;
    border-radius: 5px;
}

#nome {
    height: 5vh;
border-radius: 5px;
width: 10vw;
padding: 5px;
font-size: 20px;
}

#sobrenome{
    height: 5vh;
    border-radius: 5px;
    width: 10vw;
    padding: 5px;
    font-size: 20px;
}
#preencheremail{
    height: 5vh;
border-radius: 5px;
width: 10vw;
padding: 5px;
font-size: 20px;
}


#rodape{

    background-color: rgb(255, 189, 67);
    height: 100vh;
    justify-content: space-around;
    
}

#conhecamais{
    display: flex;
    font-size: 40px;
    font-weight: bold;
    margin-top: 25vh;
    margin-left: 2vw;

}
#logoabaixo{
    font-size: 40px;
    margin-top: 5vh;
    width: 80%;
    margin-left: 2vw;
    
}

#imgfooter{
    margin-left: -10;
    margin-top: 25vh;
    width: 90%;
}

#footer1{
    display: flex;
    justify-content: space-around;
}

#redessociais{
    display: flex;
    justify-content: space-around;
    margin-top: -30vh;
}

#direitosreservados{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;

 
}

#facebook{
    display: flex;
    width: 6vw;
    height: 10vh;
    margin-top: 7vh;
}
#x{
    width: 8vw;
    height: 8vh;
    margin-top: 10vh;
}







